<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detials</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
    rel="stylesheet"
  />
    <link id="theme" rel="stylesheet" href="/light.css" />
    <link rel="stylesheet" href="/details.css" />
  </head>
  <body>
    <body>
        <header class="header">
          <section class="navbar">
            <a href="/"><h3>Web Topics</h3></a>
            <nav>
              <button class="dark">
                <p>
                  <ion-icon name="moon-outline"></ion-icon><span>Dark Mode</span>
                </p>
              </button>
              <button class="fav">
                <p>
                  <ion-icon name="heart-outline"></ion-icon><span>Favourites</span>
                </p>
              </button>
            </nav>
          </section>
        </header>
        <main>
          <section class="welcoming-section">
            <div class="empty">
              <div class="left-tri"></div>
              <div class="right-tri"></div>
            </div>
            <section class="welcoming">
              <div>
                <h2>Welcome to our website!</h2>
                <p class="welP">
                  We have a new design that's fresh, modern, and easy to use
                </p>
              </div>
            </section>
          </section>
          <section class="topic-details">
            <% for(let i = 0 ; i < topics.length ; i++){ %>
              <%if (topics[i].id == topicId) { %> 
                <section class = 'top-sec'>
                    <div class="text-sec">
                        <div class="topic-info">
                            <h4 class="cate"> <%= topics[i].category %></h4>
                            <h1 class="name"><%= topics[i].topic %></h1>
                            <h6 class="rating"> 
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star-outline"></ion-icon>
                            </h6>
                        </div>
                        <div class="topic-desc">
                            <p>
                                <%= topics[i].description %>
                            </p>
                        </div>
                    </div>
                    <div class="topic-card">
                        <div class="topic-card-img">
                            <img src="../Logos/<%= topics[i].image %>" alt="<%= topics[i].topic%>">
                        </div>
                        <div class="topic-card-details">
                            <div class="topic-card-details-text">
                                <p><span><%= topics[i].topic%></span> by <a href="#"> <%= topics[i].name%></a></p>
                            </div>
                            <div class="topic-card-details-card">
                                <h4>Intrested about this topic?</h4>
                                <button><h1>Add to Favourites</h1> <span> <ion-icon name="heart-outline"></ion-icon> </span></button>
                                <p>Unlimited Credits</p>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="bottom-sec">
                    <div class="sub-topics">
                      <div class="sub-topic"><h1><%= topics[i].topic %> Sub Topics</h1></div>
                      <% for(let j = 0; j < topics[i].subtopics.length; j++) { %>
                        <div class="sub-topic"><span><ion-icon name="checkmark-circle-outline"></ion-icon></span><p><%= topics[i].subtopics[j] %></p></div>
                      <% } %>  
                      </div>
                </div>
                <% } %>
                <% } %>
            </section>  
        </main>
        <footer>
          <h3>
            Developed with <span><ion-icon name="heart"></ion-icon></span> 2023
          </h3>
        </footer>

        <section class="favourites hidden">
          <div class="fav-content">
            <div class="fav-text">
              <h3>My Favourite Topics</h3>
            </div>
            <div class="fav-topics">
              <div class="fav-topic">
                <div class="fav-topic-img">
                  <img src="../Logos/react.webp" alt="react" />
                </div>
                <div class="fav-topic-content">
                  <h4>React</h4>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                </div>
              </div>
              <div class="fav-topic">
                <div class="fav-topic-img">
                  <img src="../Logos/cloud.jpeg" alt="cloud" />
                </div>
                <div class="fav-topic-content">
                  <h4>Cloud</h4>
                  <p>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </section>
    
        <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="/details.js"></script>
  </body>
</html>
