<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Topics</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <link id="theme" rel="stylesheet" href="light.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <section class="navbar">
        <a href="/"><h3>Web Topics</h3></a>
        <nav>
          <button class="dark">
            <p>
              <ion-icon name="moon-outline"></ion-icon><span>Dark Mode</span>
            </p>
          </button>
          <button class="fav">
            <p>
              <ion-icon name="heart-outline"></ion-icon><span>Favourites</span>
            </p>
          </button>
        </nav>
      </section>
    </header>
    <main>
      <section class="welcoming-section">
        <div class="empty">
          <div class="left-tri"></div>
          <div class="right-tri"></div>
        </div>
        <section class="welcoming">
          <div>
            <h2>Welcome to our website!</h2>
            <p class="welP">
              We have a new design that's fresh, modern, and easy to use
            </p>
          </div>
        </section>
      </section>
      <article class="search">
        <form class="search-section" action="/" method="post">
          <div class="searchBar">
            <p><ion-icon name="search-outline"></ion-icon></p>

            <input
              type="search"
              name="search"
              id="search"
              placeholder="Search the website..."
            />
          </div>
          <div class="selectors">
            <div class="sort">
              <label for="sort">Sort by:</label>
              <select id="sort">
                <option value="#">Default</option>
                <option value="name">Name</option>
              </select>
            </div>

            <div class="filter">
              <label for="filter">Filter by:</label>
              <select id="filter">
                <option value="#">Default</option>
                <option value="id">ID</option>
              </select>
            </div>
          </div>
        </form>
      </article>
      <article class="topics">
        <h1>"<%= numberOfTopics %>" Web Topics Found</h1>
        <section class="topics-details">
          <% for (const topic of topics) { %> <% if(search.length == 0) { %>
          <a href="/details/<%= topic.id %>">
            <section class="topic">
              <div class="topic-img">
                <img
                  src="../Logos/<%= topic.image %>"
                  alt="<%= topic.topic %>"
                />
              </div>
              <div class="topic-details">
                <div class="topic-name">
                  <p class="cate"><%= topic.category %></p>
                  <h4 class="name"><%= topic.topic %></h4>
                </div>
                <div class="topic-review">
                  <p class="rate">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <h4 class="author">Author: <%= topic.name %></h4>
                </div>
              </div>
            </section>
          </a>
          <% } else if (search.length > 0 && topic.topic.includes(`${
          search.toUpperCase()}`) || topic.topic.includes(`${
          search.toLowerCase()}`)) { %>
          <a href="/details/<%= topic.id %>">
            <section class="topic">
              <div class="topic-img">
                <img
                  src="../Logos/<%= topic.image %>"
                  alt="<%= topic.topic %>"
                />
              </div>
              <div class="topic-details">
                <div class="topic-name">
                  <p class="cate"><%= topic.category %></p>
                  <h4 class="name"><%= topic.topic %></h4>
                </div>
                <div class="topic-review">
                  <p class="rate">
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star"></ion-icon>
                    <ion-icon name="star-outline"></ion-icon>
                  </p>
                  <h4 class="author">Author: <%= topic.name %></h4>
                </div>
              </div>
            </section>
          </a>
          <%}%> <% } %>
        </section>
      </article>
    </main>
    <footer>
      <h3>
        Developed with <span><ion-icon name="heart"></ion-icon></span> 2023
      </h3>
    </footer>

    <section class="favourites hidden">
      <div class="fav-content">
        <div class="fav-text">
          <h3>My Favourite Topics</h3>
        </div>
        <div class="fav-topics">
          <div class="fav-topic">
            <div class="fav-topic-img">
              <img src="./Logos/react.webp" alt="react" />
            </div>
            <div class="fav-topic-content">
              <h4>React</h4>
              <p>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </p>
            </div>
          </div>
          <div class="fav-topic">
            <div class="fav-topic-img">
              <img src="./Logos/cloud.jpeg" alt="cloud" />
            </div>
            <div class="fav-topic-content">
              <h4>Cloud</h4>
              <p>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
    <script src="script.js"></script>
    <script src="../app.js"></script>
  </body>
</html>
